* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(241, 253, 252);
}

h2 {
    text-align: center;
    color: rgb(75, 114, 111);
}

h3 {
    text-align: center;
}

.forms {
    background-color: rgb(182, 219, 216);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(160, 160, 160);
}

#signup_form {
    float: left;
    margin-left: 20%;
}    

#contact_form {
    float: right;
    margin-right: 20%;
}